apiVersion: apps/v1
kind: Deployment
metadata:   
  annotations:  
    tad.gitops.set/image: ".spec.template.spec.containers[0].image"
    tad.gitops.get/image: ".spec.template.spec.containers[0].image"
    tad.gitops.set/replicas: ".spec.replicas"
    tad.gitops.get/replicas: ".spec.replicas" 
  name: backend-tests-nodejs-jmycefny
spec:
  replicas: 1 
  template: 
    spec:
      containers:
      - image: quay.io/rhtap_qe/backend-tests-nodejs-jmycefny:3a9adb17507afdabcd3508e469b75d915b2bcadc@sha256:0bd88101ac3133ebdc32377e096536640c8eb38b561e94f3dd14af49f08c0da6
        name: container-image  
